.TweetSaverApp {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

.tweetsBody {
  display: flex;
}

.container {
  width: 50%;
  display: inline-block;
}

.savedTweets {
  margin-left: 20px;
  margin-right: 20px;
}
.savedTweetsHeading {
  color: gray;
  height: 85px;
  position: relative;
  top: 50px;
  font-weight: bold;
  font-size: larger;
}

.searchError {
  color: red;
}